<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <table class="table">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="c in Cart.orderItemList">
            <td>{{c.productTitle}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.price + 'x' + c.quantity + '=' + c.totalPrice}}</td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteFromCart(c.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
</div>