<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <table class="table">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="c in Cart.orderItemList">
            <td>{{c.productTitle}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.pricePerProduct + 'x' + c.quantity + '=' + c.price}}</td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteFromCart(c.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <form novalidate ng-submit="createOrder()">
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.adress">
        <p></p>
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>
    <p></p>
    <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
</div>