<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="p in productsInCart">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteFromCart(p.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
</div>