<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="c in cart.cartItemList">
            <td>{{c.productTitle}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.price + 'x' + c.quantity + '=' + c.totalPrice}}</td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteFromCart(c.productId)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <form novalidate ng-submit="createOrder()">
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.address">
        <p></p>
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>
    <p></p>
    <button class="btn btn-primary" ng-click="createOrder()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <p></p>
    <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
</div>