<div>
    <p></p>
    <h3>Каталог товаров</h3>
        <input class="form-control" style="width: 150px" type="number" data-ng-model="minPrice">
        <input class="form-control" style="width: 150px" type="number" data-ng-model="maxPrice">
        <button class="btn btn-success" data-ng-click="loadProducts()">Фильтровать</button>
        <button class="btn btn-light" data-ng-click="loadProducts(minPrice=null, maxPrice=null)">Очистить</button>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="p in productsListPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" data-ng-click="addToCart(p.id)">В корзину</button>
            </td>
            <td>
                <button class="btn btn-primary" data-ng-click="navToEditProductPage(p.id)">Изменить</button>
            </td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteProduct(p.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" data-ng-repeat="pageIndex in paginationArray">
                <button class="page-link" data-ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>